<footer class="text-light bg-dark">
  <div class="container py-5 py-md-6">
    <div class="row justify-content-md-center">
      <div class="col-4 col-md-2 text-center">
        <h5>Get to Know Us</h5>
        <p><a href="#">team</a></p>
        <p><a href="#">careers</a></p>
        <p><a href="#">blog</a></p>
        <p><a href="#">privacy</a></p>
        <p><a href="#">policy</a></p>
      </div>
      <div class="col-4 col-md-2 text-center">
        <h5>Moderate</h5>
        <p><a href="#">Your Account</a></p>
        <p><a href="#">Your Branches</a></p>
        <p><a href="#">Your Addresses</a></p>
        <p><a href="#">Your Lists</a></p>
      </div>
      <div class="col-4 col-md-2 social text-center">
        <h5>Social</h5>
        <p>
          <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a>
        </p>
        <p>
          <a href="https://instagram.com"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </p>
        <p>
          <a href="https://facebook.com"
            ><i class="fa-brands fa-facebook"></i
          ></a>
        </p>
        <p>
          <a href="https://youtube.com"><i class="fa-brands fa-youtube"></i></a>
        </p>
      </div>
      <div class="col-sm-4">
        <h5>Dashborad</h5>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque
          id ab rem dignissimos perferendis iusto a aperiam vitae ducimus
          quaerat enim molestias corrupti, architecto aut qui quia fuga
          voluptatibus quidem!
        </p>
      </div>
    </div>
  </div>
</footer>
